
@link-color: #f6a03a;
@link-color-hover: lighten(@link-color, 50%);

body {
    .body-regular;

    -webkit-font-smoothing: antialiased;
    line-height: 32px;
    font-size: 16px;
    color: @black;
    font-weight: 300;
}
section, header, footer, main, article, nav, aside { position: relative; }

p { margin-bottom: 18px; }
h1, .h1 {
}
h2, .h2 {

}
h3, .h3 {

}
h4, .h4 {

}
h1,h2,h3.h4,h5{
    color : @sicpa-blue;
}