@black: #000000;
@white: #ffffff;
@dark-grey: #525556;
@grey: #a0a5a9;
@light-grey: #cfd1d3;
@cloud-grey: #f6f6f7;
@blue-grey: #c5d3d7;
@menthol-blue: #6a9f9c;
@blue: #0087c8;
@sicpa-blue: #033b5a;
@dark-blue: #072f47;
@red-pink : #e3004a;
@orange: #f39800;
@green: #66bc29;


@default: @grey;
@primary: @blue;
@success: @green;
@warning: @orange;
@danger: @red-pink;
@info: @sicpa-blue;

@colors: 'default', 'primary', 'success', 'info', 'warning', 'danger', 'light-grey', 'blue-grey', 'dark-grey', 'cloud-grey', 'menthol-blue', 'sicpa-blue';

.fa {
  .for(@colors); .-each(@color) {
  @name: e(@color);
  @content: @@name;
  &--@{name} {
    color : @@name;
}
}
}


.color{
  color: white;
  height : 130px;
  width : 130px;
  border-radius : 50%;
  margin : 10px;
  display : inline-block;
  text-align: center;
  position: relative;
  .for(@colors); .-each(@color) {
  @name: e(@color);
  @content: @@name;
  &-@{name} {
    background : @@name;
    &:after{
      content : "@{name}";
      display: table;
      text-align: center;
      width: 100%;
      margin-top : 42px;
      position: absolute;
    }
    &:before{
      content : "@{content}";
      display: table;
      text-align: center;
      width: 100%;
      margin-top : 64px;
      position: absolute;
      font-size: 80%;
      color: rgba(255,255,255,.7);
    }
  }
}
}