@url: 'https://fonts.googleapis.com/css?family=PT+Sans:400,700';
@import '../../vendors/font-awesome/less/font-awesome';

.icon-font {
  font-family: 'FontAwesome';
}

.body-regular {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.body-bold {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
}