.icon-1 {
  font-size: 50px;
}

.icon-2 {
  font-size: 24px;
}

.icon-3 {
  font-size: 18px;
}

.icon-4 {
  font-size: 16px;
}

.icon-5 {
  font-size: 14px;
}

@icons: success '\f00c', info '\f129', warning '\f00d', danger '\f12a', more '\f067', previous '\f104', next '\f105';
