.font-1 {
  .body-regular;
  font-size: 1.5em;
  line-height: 1.75em;
}

.font-2 {
  .body-regular;
  font-size: 1.125em;
  line-height: 1.813em;
}

.font-3 {
  .body-regular;
  font-size: 1em;
  line-height: 1.625em;
}

.font-4 {
  .body-regular;
  font-size: .875em;
  line-height: 1.125em;
}

.xlarge {
  font-size: 4em;
  line-height: 1.75em;

}

.small {
  font-size: .875em;
}

.tiny {
  font-size: .625em;
}
