.sicpa-accordion {
  padding-left: 0;
  user-select: none;
  &--menu {
    span {
      display: inline-block;
      width: 100%;
      &:hover {
        color: @white;
        &:after {
          color: @white;
        }
      }
      &:after {
        position: absolute;
        right: 1em;
        .icon-2;
        content: "+";
      }
    }
    .expanded > span {
        &:after {
        content: "-";
      }
    }
  }
  li {
    &.category {
      color: @blue-grey;
      font-size: 0.8em;
      font-weight: bold;
      &:before {
        width: 0;
      }
    }
    & > ul {
      font-size: 90%!important;
      padding-left: .225em;
      display: none;
    }
    list-style: none;
    color: @light-grey;
    position: relative;
    margin: .75em 0;
    padding: .5em 1.5em;
    cursor: pointer;
    a {
      color: @light-grey;
      text-decoration: none;
    }
    &:before {
      content: "\00a0";
      display: block;
      position: absolute;
      height: 0;
      top: 0;
      left: 0;
      width: .5em;
      background-color: @primary;
      transition: all 0.3s ease-in-out 0s;
    }
    &.expanded, &:hover {
      a {
        color: @white;
      }
      &:before {
        height: 100%;
      }
    }
  }
  & > a {
    .font-2;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    &:hover {
      color: @white;
    }
  }
  & > ul {
    .font-3;
    display: none;
    color: @white;
    margin-top: .75em;
  }

  &--menu--thin {
    li {
      color: @primary;
      padding: .5em 1.063em;
      &:before {
        width: .063em;
      }
      &.expanded, &:hover {
        color: @primary;
      }
      .accordion-trigger {
        &:hover {
          color: @primary;
        }
      }
      > ul {
        color: @dark-grey;
      }
    }
  }
}