
.sicpa-alert {
  color: @dark-grey;
  background-color: white;
  border: 1px solid @light-grey;
  position: relative;
  left: 0;
  border-radius: 3px;
  padding: 15px 15px 15px 79px;
  font-size: 18px;
  display: flex;
  align-items: center;

  p {
    position: relative;
    .id {
      position: absolute;
      right: 0;
      bottom: -20px;
      color: @light-grey;
      .small;
    }
  }

  &:before {
    top: -1px;
    border-radius: 3px 0 0 3px;
    position: absolute;
    left: -1px;
    width: 60px;
    .icon-font;
    .icon-2;
    color: white;
    height: calc(100% + 2px);
    display: flex;
    align-items: center;
  }

  &:after {
    left: 56px;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 10px;
    margin-top: -10px;
  }

  .close {
    position: absolute;
    right : 0.625em;
    top : 0.625em;
    outline: none !important;
    text-align: right;
    .icon-2;
    color: @light-grey;
    opacity: 1;
    margin: -14px -8px 0 16px;
    margin-bottom: auto;
    transition: all 225ms ease;
    &:hover {
      color: darken(@light-grey, 10%);
    }
  }

  &--success {
    &:before {
      background-color: @success;
      .by-key(@icons, success, '\f0ad');
      content: @by-key;
      padding-left: 18px;
    }
    &:after {
      border-left-color: @success;
    }
  }

  &--info {
    &:before {
      background-color: @sicpa-blue;
      .by-key(@icons, info, '\f0ad');
      content: @by-key;
      padding-left: 27px;
    }
    &:after {
      border-left-color: @sicpa-blue;
    }
  }

  &--warning {
    &:before {
      background-color: @warning;
      .by-key(@icons, warning, '\f0ad');
      content: @by-key;
      padding-left: 22px;
    }
    &:after {
      border-left-color: @warning;
    }
  }

  &--danger {
    &:before {
      background-color: @danger;
      .by-key(@icons, danger, '\f0ad');
      content: @by-key;
      padding-left: 28px;
    }
    &:after {
      border-left-color:@danger;
    }
  }
}

