.sicpa-breadcrumb {
  margin-bottom: 0;
  display: inline-block;
  background-color: transparent!important;
  border-radius: 0;
  li {
    .font-2;
    + li {
      &:before {
        color:  @primary;
        display: inline-block;
        padding: 0 .625em;
        vertical-align: .075em;
      }
      &:last-child:before {
        color: @default;
      }
    }
    i {
      font-size: 110%;
    }
    a {
      color: @primary;
      text-decoration: none;
    }
    &.active {
      color: @default;
    }
  }
}