.sicpa-btn-dropdown{
  position: relative;
  i{
    width: 20px;
    height: 15px;
    position: relative;
    &:before{
      font-size: 24px;
      position: absolute;
      left: 0;
      top : -2px;
    }
  }

  ul{
    display : none;
    position: absolute;
    background: @white;
    z-index: 4;
    .box-shadow;
    text-align: left;
    min-width: 12em;
    border: 1px solid @light-grey;
    border-radius: 3px;
    left: 0;
    margin-top: 1em;
    transition: 0.5s;
    &.right{
      left : inherit;
      right : 0;
    }

      li{
        padding : 0.6em 0.8em;
        border-bottom: 1px solid @light-grey;
        a{
          text-decoration: none;
          color : @dark-grey;
          .body-regular;

        }
        &:last-of-type{
          border-bottom: none;
        }
      }

  }

}