.sicpa-carousel {
  width: 100%;
  padding: .313em;
  border: .063em solid @light-grey;
  ol {
    li, li.active {
      height: 1em;
      width: 1em;
      border-radius: .5em;
      margin: 0 .313em;
    }
  }
  .carousel-inner {
    img {
      width: 100% !important;
    }
  }
  .carousel-control {
    text-shadow: none;
    opacity: 1;
    background-image: none;
    &.left {
      span {
        left: 25%;
      }
    }
    &.right {
      span {
        right: 25%;
      }
    }
    span {
      .icon-1;
      position: absolute;
      top: 50%;
      z-index: 5;
      display: inline-block;
      color: white;
    }
  }
}