.expander {
  width: auto;
  cursor: pointer;

  .expander-trigger {
    .icon-font;
    border-top: .063em solid @grey;
    span {
      transition: all .24s cubic-bezier(.53,1.26,.83,.67);
      transform: rotateX(0deg);
      &.expanded {
        transform: rotateX(180deg);
      }
      position: relative;
      display: block;
      width: 2.5em;
      height: 2.5em;
      border-radius: 50%;
      background-color: white;
      border: .063em solid @grey;
      top: -1.375em;
      left: calc(50% - 7px);

      &:after {
        content: "";
        position: absolute;
        left: .925em;
        top: 1.125em;
        width: .5em;
        height:  .5em;
        transform: rotate(135deg);
        border: .063em  solid @primary;
        border-top-style: none;
        border-right-style: none;
      }
    }
  }

  .expander-content {
    border-bottom: .063em  solid @grey;
    padding: 0 1.875em 1.125em 1.875em;
    font-size: 1.125em;
  }
  .expander-hidden {
    display: none;
  }
}