.sicpa-footer {
  .font-4;
  border: .063em solid @light-grey;
  border-left: 6.250em solid @sicpa-blue;
  height: 7.5em;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  color: @grey;
  .content {
    bottom: 0.938em;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .top-border {
    height: 2.813em;
    background: @cloud-grey;
    border-bottom: .063em solid @light-grey;
    width: 100%;
  }
}