ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
  &.sicpa-ol {
    list-style: decimal;
  }
  &.sicpa-ul {
    list-style: disc;
  }
}
ul.inline{
  li{
    display: inline;
    padding-right: 1em;
  }
}