
.sicpa-modal {

  .modal-dialog {
    width: 50%;
  }
  .sicpa-modal-header {

    border-bottom: none;
    text-align: center;
    padding-bottom : 5px;
    padding-top : 20px;

    h4 {
      font-size: 36px;
      color: @dark-blue;
    }

    .close {
      outline: none !important;
      margin-top: -30px;
      font-size: 32px;
    }
  }
  .sicpa-modal-content {
    padding: 16px 0;
    .box-shadow;
  }
  .sicpa-modal-body {
    font-size: 20px;
    padding: 16px 60px;
    line-height: 32px;
    text-align: center;
  }
  .sicpa-modal-footer {
    border-top: none;
    text-align: center;
  }
}