.sicpa-pagination{

  li {
    .font-2;
    display: inline-block;
    padding: 0;
    margin: 0 .25em;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }

    a, a:visited {
      border : none;
      color : @primary;
      background-color: white;
      border-bottom : .313em solid @white;
      transition: all 0.14s ease-in-out 0s;
    }
    a:hover {
      background-color: @white;
      color:  @primary;
      border-bottom : .313em solid @primary;
    }
    &.active, &.active:hover {
      a, a:visited {
        color: @primary;
        background-color: white;
        border-bottom : .313em solid @primary;
      }
    }


    &.next{
      width: 2.5em;
      a {
        position: relative;
        border: none;
        &:after{
          width: .550em;
          height: .550em;
          content: "";
          position: absolute;
          top: -1.1em;
          transform: rotate(-135deg);
          border: .125em solid @primary;
          border-top-style: none;
          border-right-style: none;
        }
      }
    }
    &.previous{
      width: 1.5em;
      a {
        border: none;
        position: relative;
        &:after{
          content: "\00a0";
          position: absolute;
          top: -1.1em;
          width: .550em;
          height: .550em;
          transform: rotate(45deg);
          border: .125em solid @primary;
          border-top-style: none;
          border-right-style: none;
        }
      }
    }
  }
}