.popover-content {
  .body-regular;
  .font-3;
  color: @dark-grey;
}

.popover {
  .box-shadow;
  margin-left: 20px !important;
}

.sicpa-btn--circle, .sicpa-btn--closed {
  &:focus, &:active {
    outline: none !important;
  }
  border: none;
  transition: all .12s ease-in-out;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: relative;
  .for(@colors);
  .-each(@color) {
    @name: e(@color);
    &--@{name} {
      background-color: @@name;
      &:after {
          .icon-font;
          color: @white;
          position: absolute;
          width: 25px;
          height: 25px;
          left: 50%;
          top: 50%;
          margin-left: -12px;
          margin-top: -10px;
         .by-key(@icons, @name, '\f0ad'); // Gets all icons according to the color name & defaults to a wrench icon
         content: @by-key;
      }
      &:hover {
      background-color: darken(@@name, 5%) !important;
    }

    &:active {
      background-color: darken(@@name, 10%) !important;
    }
      &:visited, &:focus {
        background-color: @@name !important;
      }
    }
  }


  }
  .sicpa-btn--closed {
    width: 32px;
    height: 32px;
    border-radius: 3px;
    &:after {
      top: 50% !important;
      left: 50% !important;
      font-size: 24px !important;
      width: 32px;
      height: 32px;
      margin-left: -16px;
      margin-top: -18px;
    }
  }