.steps {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  counter-reset: steps;
  line-height: 0;

  li {
    position: relative;
    width: 100%;
    text-align: right;
    &:first-child {
      width: 1.75em;
      &:after {
        all: unset;
      }
    }

    &:last-child {
      &.default, &.active, &.done {
        &--info {
          margin-right: 2em !important;
          span:after {
            width: 2em;
          }
        }
      }

    }

    &:after {
      content: '';
      background: @grey;
      height: 1px;
      display: flex;
      //margin: -.9em 2.875em 0 1.250em;
      // priority to ie 11
      margin: -.9em 2.875em 0 1.825em;
    }
    span {
      color: @dark-grey;
      background-color: white;
      box-shadow: 0 0 0 .125em @white, 0 0 0 .188em @grey;
      border-radius: 50%;
      width: 1.750em;
      height: 1.750em;
      display: inline-block;
      position: relative;
      &:before {
        position: absolute;
        top: .925em;
        left: .6em;
        counter-increment: steps;
        content: counter(steps);
      }
    }

    &.default {
      &--info {
        span {
          &:after {
            .info-class;
            color: @grey;
          }
        }
      }
    }


    &.active {
      &:after {
        background: @primary;
      }
      span {
        color: @white;
        box-shadow: 0 0 0 .125em @white, 0 0 0 .188em @primary;
        background-color: @primary;
        &:before {
          color: @white;
          content: counter(steps);
        }
      }
      &--info {
        span {
          &:after {
            .info-class;
            color: @primary;
          }
        }
      }
    }


    &.error {
      span {
        box-shadow: 0 0 0 .125em @white, 0 0 0 .188em @danger!important;
        background-color: @danger!important;
      }
      &--info {
        span {
          &:after {
            .info-class;
            color: @danger!important;
          }
        }
      }
      + li {
        &:after {
        background: @danger!important;
      }
      }
    }


    &.done {
      &:after {
        background: @success;
      }
      span {
        color: @white;
        box-shadow: 0 0 0 .125em @white, 0 0 0 .188em @success;
        background-color: @success;
      }
      &--locked {
        span {
          .icon-font;
          &:before {
            top: .875em;
            left: .4em;
            content: "\f00c";
          }
          &:after {
            content: "\f023";
            left: 1.5em;
            top: 1em;
            color: @light-grey;
            width: .875em;
            height: .875em;
            padding-right: .275em;
            padding-left: .275em;
            background-color: @white;
            position: relative;
            text-align: center;
            font-size: .75em;
            z-index: 3;

          }
        }
      }
      &--info {
        span {
          &:after {
            .info-class;
            color: @success;
          }
        }
      }
    }
  }

  .info-class {
    content: attr(data-info);
    .body-regular;
    .tiny;
    position: absolute;
    z-index: 1;
    left: 4em;
    background-color: @white;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    max-width: 5em;
    padding-right: .75em;
    line-height: .938em;
  }
}

