
.sicpa-tabs {

  .font-3;
  background : @white;
  border-bottom: 1px solid @light-grey;

  .sicpa-tabs--item {
    margin : 0 2.5em;
    a, &.active a {
      padding :  .5em 0 ;
      background: none;
      color: @primary;
      border: none;
      text-decoration: none;
      &:hover, &:active, &:focus, &:visited {
        background: none;
        border: none;
        color: @primary;
      }
    }
    a {
      color: @grey;
      text-transform: uppercase;
    }
    &.active {
      border-bottom: .5em  solid @primary;
    }
  }
}


.sicpa-tab-content {
  .font-2;
  background-color: @cloud-grey;
  padding: 1.875em 1.875em .750em 1.875em;
}