.box {
  .font-2;
  border: 1px solid @light-grey;
  display: block;
  padding: .25em 1.250em;
  position: relative;
  transition: all .2s ease-out;
  &:after {
    background-color: transparent;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all .2s ease-in-out;
    width: 0;
  }
  &:hover {
    border: 1px solid @warning;
    cursor: pointer;
    &:after {
      background-color: @warning;
      width: .5em;
    }
  }

  h2 {
    .font-1;
    color: @sicpa-blue;
  }
  p {
    .font-2;
  }

  &--small {
    font-size: 10px;
  }

  &--extra {
    display: table;
    width: 100%;
    span {
      .xlarge;
      .body-bold;
      color: @warning;
      display: table-cell;
      padding-right: .5em;
      vertical-align: middle;
      width: 1em;
    }
  }

  &--checkbox {
    label {
      color: @sicpa-blue;
      .font-1!important;
      padding: .5em 0 .375em 0;
      span {
        font-size: .75em;
      }
    }

    input[type="checkbox"] {
      &:checked {
        border: 1px solid @primary;
        &:after {
          background-color: @primary;
          width: .5em;
        }
        & + label {
          color: @sicpa-blue !important;
        }
      }
    }

    &:hover {
      border: 1px solid @primary;
      &:after {
        background-color: @primary;
      }
    }
  }

  &.checked {
    border: 1px solid @primary;
    &:after {
      width: .5em;
      background-color: @primary;
    }
  }

  &--square {
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 100%;
    text-align: center;
    width: 100%;
    &:after {
      background-color: @warning;
      bottom: 0;
      content: "";
      display: block;
      height: 0;
      left: 0;
      position: absolute;
      top: auto;
      transition: all .2s ease-in-out;
      width: 100%;
    }
    &:hover {
      border: 1px solid @warning;
      cursor: pointer;
      &:after {
        background-color: @warning;
        bottom: 0;
        height: .5em;
        width: 100%;
      }
    }
    div {
      left: 0;
      padding: 1.250em;
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
      span {
        .xlarge;
        .body-bold;
        color: @warning;
        display: block;
        margin-bottom: -.5em;
      }
      h2 {
        &.padding-less {
          padding-bottom: 0;
        }
        .font-1;
        color: @sicpa-blue;
        padding-bottom: .75em;
      }
      p {
        .font-2;
      }
    }
    &--small {
      font-size: 10px;
    }
  }
}