.sicpa-button-burger {
  border: none;
  background-color: transparent;
  height: 4.688em;
  outline: none !important;
  position: relative;
  width: 5.938em;
  .bar {
    background: @white;
    display: block;
    height: .130em;
    margin: .625em auto;
    width: 40%;
  }
  &:after {
    border: .130em solid @primary;
    border-right-style: none;
    border-top-style: none;
    content: "";
    height: .625em;
    position: absolute;
    right: .813em;
    top: 2em;
    transform: rotate(-135deg);
    transition: 0.75s;
    width: .625em;
  }
  &--closed {
    &:after {
      transform: rotate(45deg);
    }
  }
}