
.sicpa-btn {
  border-radius: 1.1em;
  display: inline-block;
  font-size: .938em;
  min-width: 3em;
  outline: none !important;
  transition: all 0.14s ease-in-out 0s;
  padding: 7px 12px 5px 12px;

  &--primary {
    background: @primary;
    border: none;
    color: white;
    &:hover, &:visited, &:focus, &:active {
      color: white;
    }

    &:hover {
      background-color: darken(@primary, 5%);
    }

    &:disabled, &:disabled:hover {
      background-color: @light-grey;
      color: @white;
    }

    &--success {
      background: @success;
      &:hover {
        background-color: darken(@success, 5%);
      }
    }
    &--danger {
      background: @danger;
      &:hover {
        background-color: darken(@danger, 5%);
      }
    }
    &--warning {
      background: @warning;
      &:hover {
        background-color: darken(@warning, 5%);
      }
    }

  }
  &--secondary {
    border-color: @primary;
    color: @primary;

    i {
      color: @primary !important;
    }
    &:hover, &:visited, &:focus, &:active {
      background-color: @cloud-grey;
      border-color: @primary !important;
      color: @primary !important;
      i {
        color: @primary !important;
      }
    }

    &:disabled, &:disabled:hover {
      border-color: @light-grey !important;
      color: @light-grey !important;
    }
  }

  &--borderless {
    border: none;
  }
  &--previous {
    &:before {
      .by-key(@icons, previous, '\f0ad');
      content: @by-key;
      .icon-font;
      padding: 0 .5em 0 0;
    }
  }
  &--next {
    &:after {
      .by-key(@icons, next, '\f0ad');
      content: @by-key;
      .icon-font;
      padding: 0 0 0 .5em;
    }
  }

  &--lg {
    border-radius: 1.5em;
    font-size: 1.125em;
    line-height: 1.3333333;
    min-width: 3.750em;
    padding: 0.6em 0.9em;
  }

}