input[type="checkbox"] {
  display: none;
  & + label {
    cursor: pointer;
    .body-regular;
    .font-4;
    user-select: none;
    & span {
      background-color: @white;
      border: 1px solid @grey;
      border-radius: .25em;
      display: inline-block;
      height: 1.125em;
      margin: -.25em 1.125em 0 0;
      position: relative;
      vertical-align: middle;
      width: 1.125em;
      &:before {
        border: .25em solid @primary;
        border-right-style: none;
        border-top-style: none;
        content: "";
        height: .438em;
        left: .125em;
        position: absolute;
        top: .188em;
        transform: rotate(-45deg) scale(0, 0);
        transition: all .1s cubic-bezier(.53, 1.26, .83, .67);
        width: .750em;
        z-index: 1;
      }
    }
  }
}
input[type="checkbox"]:checked + label {
  color: @black;
  & span:before {
    transform: rotate(-45deg) scale(1, 1);
  }
}