.sicpa-form {
  .sicpa-input-group {
    width: 100%;
    .sicpa-form-control {
      all: unset;
      .font-3;
      text-align: left;
      float: right;
      background-color: transparent;
      color: @grey;
      transition: 0.32s ease-out all;
      width: 3.375em;
      padding: 1.500em 0 1.500em 1.500em;
      border-right: 3em solid transparent;
      text-overflow: ellipsis;
      &:focus {
        background-color: @white;
        width: 100%;
        border-right: 3em solid @white;
        color: @dark-grey;
      }
    }
    .sicpa-input-group-btn {
      left: -3.125em;
      .btn {
        outline: none !important;
        transition: 0.225s ease all;
        color: @grey!important;
        border: none!important;
        background: transparent!important;
        margin-left: -3.250em;

        i {
          .icon-2;
        }
        &:active {
          background: transparent!important;
          box-shadow: none;
        }
        &:hover {
          color: @dark-grey!important;
        }
      }
    }
  }

  .sicpa-form-group {
    position: relative;
    margin-bottom: 2.813em;
    display: flex;

    .sicpa-form-control {
      all: unset;
    }

    i {
      .icon-2;
      color: @light-grey;
    }

      .flex--input {
        flex-grow: 1;
      }

      .flex--info {
        margin-left: .5em;
        .sicpa-btn--popover {
          bottom: 0;
          background-color: @light-grey;
          &:hover {
            background-color: @grey !important;
          }
        }
        .btn {
          margin-bottom: -1.5em;
          i {
            .icon-3;
            padding: 0 1em;
          }
        }
      }


    input[type="text"], input[type="password"] {
      padding: .435em 0 .125em 0;
      text-indent: 0;
      &.has-before-icon {
        text-indent: 2em;
      }
      display: flex;
      border: none;
      border-bottom: .063em solid @light-grey;
      width: 100%;
      position: relative;
      .font-2;
      &:focus, &:valid {
        outline: none;
        & ~ label {
          top: -.775em;
          .font-4;
        }
      }
    }



    .bar {
      position: relative;
      display: flex;
      width: 100%;
      &:before, &:after {
        content: "";
        height: .063em;
        width: 0;
        bottom: 0;
        position: absolute;
        transition: 0.2s ease all;
      }
      &:before {
        left: 50%;
      }
      &:after {
        right: 50%;
      }
    }

    .status-icon, .status-message {
      width: auto;
      position: relative;
      display: block;
      float: right;
      vertical-align: middle;
      text-align: right;
      margin-top: -2.375em;
      i {
        text-align: right;
        display: inline-block;
        width: 2em;
        vertical-align: -8px;
        margin-right: 0;
      }

      &:after {
        transition: 0.2s ease all;
        .icon-font;
        opacity: 0;
        position: absolute;
        bottom: -.625em;
        right: 1.875em;
        width: 1.875em;
        vertical-align: middle;
        font-size: inherit;
        content: "\00a0";
      }
      &:empty {
        margin-top: -.250em;
        margin-right: 0;
        &:after {
          right: 0;

        }
      }

    }


    .status-message {
      padding-right: 0;
      opacity: 1;
      bottom: 1.250em;
      .body-regular;
      .font-4;
      color: @light-grey;
    }


    input:focus ~ .bar:before, input:focus ~ .bar:after {
      width: 50%;
    }

    input:focus ~ .status-icon:after {
      opacity: 1;
      bottom: -.225em;
    }

    [data-input-status="warning"] {
      + .bar {
        &:before, &:after {
          background: @warning;
        }
        + .status-icon {
          &:after {
            color: @warning;
            .by-key(@icons, warning, '\f0ad');
            content: @by-key;
          }
        }
      }
    }

    [data-input-status="success"] {
      + .bar {
        &:before, &:after {
          background: @success;
        }
        + .status-icon {
          &:after {
            color: @success;
            .by-key(@icons, success, '\f0ad');
            content: @by-key;
          }
        }
      }
    }

    label {
      .font-2;
      color: @grey;
      position: absolute;
      pointer-events: none;
      top: .5em;
      transition: 0.2s ease all;
      z-index: 2;
      margin-bottom: 0;
      &.focus, &.full {
        .font-4;
        top: -.775em !important;
      }
    }

    .before-icon {
      position: absolute;
      width: 1.875em;
      height: 2.500em;
      text-align: left;
      left: 0;
      bottom: -8px;
      + label {
        left: 1.875em;
      }
    }
    input:focus ~ .before-icon, input:valid ~ .before-icon {
      + label {
        left: 0;
      }
    }

  }
}