.sicpa-label {
  border-radius: 0;
  background-color: @white;
  .for(@colors);
  .-each(@color) {
    @name: e(@color);
    &--@{name} {
      color: @@name;
      padding: .563em .750em;
      border: .063em solid @@name;
      border-left-width: .5em;
      .font-3;
      &--sm {
        .font-4;
      }
    }
  }
}

