input[type="radio"] {
  display: none;
  & + label {
    cursor: pointer;
    .body-regular;
    .font-4;
    user-select: none;
    & span {
      background-color: @white;
      border: 1px solid #999;
      border-radius: 50%;
      display: inline-block;
      height: 1.125em;
      margin: -.25em 1.125em 0 0;
      position: relative;
      vertical-align: middle;
      width: 1.125em;
      &:before {
        background: @primary;
        border-radius: 50%;
        content: "";
        height: .625em;
        left: .185em;;
        position: absolute;
        top: .185em;
        transform: scale(0, 0);
        transition: transform .1s cubic-bezier(.53, 1.26, .83, .67);
        width: .625em;
        z-index: 1;
      }
    }
  }
}

input[type="radio"]:checked + label {
  color: @black;
  & span:before {
    transform: scale(1);
  }
}