.selectize-control, .selectize-control.single, .selectize-control.multi {
  border-bottom: .063em solid @light-grey !important;
  width: 100%;
  font-size: 1em;
  padding: .538em 0 0 0;
  .active {
    background-color: transparent !important;
    color: #333 !important;
  }
  .selectize-input {
    border: none;
    padding-left: 0 !important;
    padding-top: 9px !important;
    padding-bottom: 0 !important;
    padding: 0 !important;
    float: left;
    .item {
      text-indent: 0;
      float: left;
      z-index: 3;
      background-color: transparent;
      font-size: inherit !important;
    }
    input {
      float: left;
      font-size: 1em;
    }
    .font-2;
    &.focus {
      box-shadow: none;
    }
    &:after {
      .font-2;
      .icon-font;
      border: none;
      content: "\f107";
      top: 0;
      position: absolute;
      right: 7px;
      width: 1.250em;
      text-align: right;
    }
  }
}

.selectize-dropdown {
  font-size: inherit !important;
  .box-shadow !important;
  margin-top: .750em !important;
  .selectize-dropdown-content {
    padding: 0;
    .option {
      padding: .625em 0 .625em .125em;
      border-bottom: .063em solid @light-grey;
      &:last-child {
        border-bottom: none;
      }
      &.active {
        background: none;
      }
    }
  }
}