/* less/atoms/_table.less */
table.sicpa-table{
  position: relative;
  
  asdasdas
  tbody{
    tr{
      td{
        &.actions{
          .fa{
             font-size: 1.125em;
              padding: 0 5px;
          }

        }
      }
    }
  }
  &-striped{
    tbody{
      tr{
        &:nth-child(even){
          background-color : @cloud-grey;
        }
      }
    }
  }
  &-striped-with-collapse{
    tbody{
      tr{
        &:nth-child(4n+3),&:nth-child(4n+4){
        background-color : @cloud-grey;
          &.collapse{
            background: none;
          }
      }

      }
    }
  }
  tbody,thead{
    border : 1px solid @light-grey;
    tr{
      &.selected{
        background-color : @light-grey;
        td:first-of-type{
          box-shadow: inset 0.3em 0px 0px 0px @blue;
        }
      }
      td,th{
        padding : 1.1em 1.56em;
        background-color : inherit !important;
        border : none;
        font-weight: normal;




        &[class*="col-"]{
          position : relative;
        span{
          color : @black;
          overflow:hidden;
          display:inline-block;
          text-overflow: ellipsis;
          white-space: nowrap;
          position: absolute;
          width : 90%;
        }

        }
        .font-3;
      }
      //colors
      .for(@colors);
      .-each(@color) {
        @name: e(@color);
        &.@{name} {
          border : 1px @@name solid;
          background: fade(@@name,10%);
          td:first-of-type{
            box-shadow: inset 0.3em 0px 0px 0px @@name;
          }
        }
      }
    }
  }
  thead{
    border-bottom : none;
    .font-3;
    color : @grey;
  }

}