.sicpa-textarea{
  label {
    color : @default;
    font-weight: inherit;
    display: block;
  }
  textarea{
    border : @light-grey .063em solid;
    padding: 0.6em;
    line-height: 1em;
    color : @black;
    border-radius: 0.2em;
  }
}