/* less/atoms/_tooltipwithalert.less */
.popover.confirmation{
  //background : red !important;
  .popover-title{
    background : none;
    border : none;
    font-weight: normal;
    padding-bottom: 5px;
    text-align: center;
    color : @dark-grey;
  }
  .popover-content{
    padding-top: 0px;

    .btn{
      padding: 0.1em 0.6em;
      margin : 5px;
      font-size: 1em;
      border-radius: 1em !important;
      text-decoration: none;
      i{
        display : none;
      }
      &.sicpa-btn--primary{
        color : white !important;
      }
    }
  }
}