.sicpa-tooltip {
  color: @black;
  cursor: pointer;
  font-weight: 700;
  position: relative;
  &:before {
    border: .063em dashed @black;
    bottom: -.125em;
    content: "";
    height: 0;
    left: 0;
    opacity: 0.1;
    position: absolute;
    transition: all 0.2s ease-in-out 0s;
    width: 100%;
  }
  &:hover {
    color: @primary;
    &:before {
      opacity: 1;
    }
  }
}

.sicpa-tooltip + .tooltip.top .tooltip-inner {
  font-size: inherit;
  background-color: @white;
  border: .063em solid @light-grey;
  color: @dark-grey;
  .body-regular;
  .box-shadow;
  padding: 0.625em;
}

.sicpa-tooltip + .tooltip.top .tooltip-arrow {
  border-top-color:@white;
  .box-shadow;
  bottom: .063em;
  &:after {
    border: .063em solid @light-grey;
    border-right-style: none;
    border-top-style: none;
    content: "";
    height: .375em;
    left: -.188em;
    position: absolute;
    top: -.5em;
    transform: rotate(-45deg);
    width: .375em;

  }
}