/* less/organisms/_item-details.less */
.box{
    font-size : 0.9em;
    
    &--extra{
        font-size : 0.75em;
    }
    span{
      font-size: 2.5em;
    }
    h2{
        margin-top: 0.6em;
    }

}

