/* less/organisms/_menu-navigation.less */

.sicpa-navbar-left {
  //position: fixed;
  //Should be replaced by position fixed
  position: absolute;

  margin: 0 -15px;

  //Should be replaced by height: 100vh;
  height: 600px;

  width: 75px;
  background: lighten(@sicpa-blue,10%);
  overflow: auto;
  border-top-width: 0;
  border-bottom-width: 0;
  border-radius: 0;
  transition: 0.5s;
  overflow : hidden;

  .sicpa-navbar-left-content {
    width: 75px;
    right: 0;
    position: absolute;
    overflow : hidden;
    height: 100%;
    white-space: nowrap;



    &.help-open{
      right: inherit;
      left : 0;
    }
    &.help{
      right: 0;
      position: absolute;
      left: 75px;
      width : 0;
      transition: 0.5s;
      &.opened{
        width : 285px;
      }
    }
    &.expanded {
      right: 75px;
      width: 0;
      overflow : hidden;
      transition: 0.5s;
      .logo-container {
         height: 72px;
         padding: 22px;
         color: white;
         font-size: 18px;
         i {
           font-size: 24px;
           margin-right: 15px;
         }
       }

      .connected-user-container {
        padding: 0;
        position: relative;
        color: white;
        padding: 0.2em 0.5em;
        background: lighten(@sicpa-blue,5%);
        .username {
          font-weight: bold;
        }
        .username,
        .userjob {
          width: 160px;
        }
        .loggout {
          width: 40px;
          position: absolute;
          right: 10px;
          height: 70px;
          top: 0;
          border: none;
          background: none;
          &:after {
            content: '\f011';
            font-family: fontawesome;
            color: white;
            font-size: 26px;
          }
        }
      }
    }
    button{
       height: 64px;
      width: 75px;
      background: none;
      border: none;
      top : inherit;
      &:focus {
        outline: none;
      }
    }
    .sicpa-button-burger {
      
      &:after {
        width: 10px;
        height: 10px;
        content: "";
        position: absolute;
        top: 28px;
        right: 10px;
        transform: rotate(-135deg);
        border: 2px solid @primary;
        border-top-style: none;
        border-right-style: none;
        transition: 0.75s;
      }
     
    }
    .sicpa-button-settings,.sicpa-button-help{
      position: absolute;
      &:after{
        content: '\f011';
       font-family: fontawesome;
       color: white;
       font-size: 26px;
      }
       
    }
     .sicpa-button-settings{
       
       bottom : 70px;
       position: absolute;
       &:after{
          content: '\f013';
       }
      }
     .sicpa-button-help{
        
       bottom :0;
        &:after{
          content: '\f059';
       }
       
      }
    .connected-user-container {
      padding: 10px 12px;
      background: @sicpa-blue;
      .connected-user {
        width: 100%;
        height: 50px;
        border-radius: 40px;
        border: white 3px solid;
        background: lighten(@sicpa-blue,5%);
        img {
          width: 100%;
          height: auto;
          border-radius: 40px;
          border:lighten(@sicpa-blue,5%);
        }
      }
    }
    .sicpa-accordion{
      li{
        margin : 0 0;
        padding: 0.2em 0.75em;
        padding-right: 0;
      }
    }

  }
  &.opened {
    width: 360px;
    .sicpa-navbar-left-content {
      background: lighten(@sicpa-blue,5%);
      &.help{
        background: lighten(@sicpa-blue,10%);

      }
      &.expanded {
        width: 280px;
        display : block;
        background: lighten(@sicpa-blue,10%);





      }
      .sicpa-button-burger {
        &:after {
          transform: rotate(45deg);
        }
      }
    }

  }
}

content.sicpa-content {
  margin-left: 60px;
  display: block;
  transition: 0.5s;
  &-side-menu-opened {
    margin-left: 345px;
  }
  .sicpa-navbar {
    background: #f6f6f7;
    border-left: none;
    .sicpa-container {
      padding: 11px 15px;

      .sicpa-form{
        display : inline-block;
        float: right;
        margin-top: -11px;
      }
    }
  }
}