table.sicpa-table{
  .sicpa-table-form{

    .sicpa-form-group{

      padding : 0;



      &.left{
        padding-right : 5px;
      }
      &.right{
        padding-left: 5px;
      }

    }

  }
  .col-has-more-button{
    margin-left: 1em;
  }
  .button-more{
    margin-left: -0.625em;
    margin-right: 0.3125em;
    text-decoration: none;
    color : @grey;
    cursor: pointer;
    &.collapsed{
      &:before{
        content : "\f067";
      }
    }
  }
  .sicpa-table-row{
    &.content{
      border : 1px solid @light-grey;
      td{
        padding : 1em;
        box-shadow: inset 0.3em 0px 0px 0px @light-grey;
      }
    }
    span{
      color : @grey;
      font-weight: inherit;
    }
    img{
      width : 100%;
    }
    p{
      padding-bottom: 0;
      color : @black;
      line-height: 1.4em;
    }
  }

}
.sicpa-submit-buttons-container{
  text-align: right;
  button{
    margin-left: 1.25em;
  }
}