// .for
.for(@i, @n) {.-each(@i)}
.for(@n)     when (isnumber(@n)) {.for(1, @n)}
.for(@i, @n) when not (@i = @n)  {
  .for((@i + (@n - @i) / abs(@n - @i)), @n);
}

// .for-each
.for(@array)   when (default()) {.for-impl_(length(@array))}
.for-impl_(@i) when (@i > 1)    {.for-impl_((@i - 1))}
.for-impl_(@i) when (@i > 0)    {.-each(extract(@array, @i))}


.by-key(@array, @key, @fallback...) {
  .for(@array); .-each(@pair)
when (@key = extract(@pair, 1)) {
  @by-key: extract(@pair, 2);
}
  .-() {@by-key: @fallback} .-;
}
